:root {
  --mainWhite: #f5f5f5;
  --mainDark: #343434;
  --mainBlue: #346699;
}
body {
  background: var(--mainWhite);
  color: var(--mainDark);
}
.blueBtn {
  background: transparent;
  border: 0.15rem solid var(--mainBlue);
  color: var(--mainBlue);
  cursor: pointer;
}
.blueBtn:hover {
  background: var(--mainBlue);
  color: var(--mainDark);
}
.blueText {
  color: var(--mainBlue);
}
.feedback {
  display: none;
}
.loading {
  display: block;
  margin: 0 auto;
  display: none;
}
.showItem {
  display: block;
}
